.highcharts{
    &-background {
        fill: var(--el-fill-color-blank);
    }
    // &-grid-line {
    //     stroke: var(--el-text-color-regular);
    //     stroke-opacity: 0.2;
    // }
    &-button-box{
        fill: var(--el-bg-color-page);
        path{
            fill: var(--el-text-color-regular);
        }
    }
    &-column-series {
        rect.highcharts-point {
            stroke: var(--el-menu-hover-bg-color);
        }
    }
    &-data-table{
        position: absolute;
        top: 0;
        left: 20px;
        background: var(--el-bg-color-page);
        max-height: 15rem;
        overflow: scroll;
        box-shadow: var(--el-box-shadow-light);
        .highcharts-table-caption{
            display: none;
        }
        thead th{
            color: var(--el-text-color-regular);
        }
        tbody th {
            color: var(--el-text-color-secondary);
        }
        thead th,
        tbody th,
        tr th:first-child{
            text-align: left;
        }
        tbody td,
        tr td:last-child{
            text-align: right;
        }
    }
    &-menu{
        padding-top: 0 !important;
    }
    &-contextbutton{
        display: none;
    }
    &-exporting-group{
        display: none;
        transform: translate(-5px, 5px);
        opacity: 0.3;
        &:hover{
            opacity: 0.8;
        }
    }
    &-contextmenu{
        top: 0 !important;
    }
}
.highcharts-subtitle,
.highcharts-credits,
.highcharts-axis-title {
    fill-opacity: 0.8;
}

.chartContainer{
    width: 100%;
    height: 100%;
    padding: 0;
    &.treeMap {
        .highcharts-series-group{
            opacity: 0.5;
        }
    }
    &.column{
        height: calc(100% - 1.5rem);
        min-height: 18rem;
    }
}
h6{
    margin: 0;
}